.builder {
  display: flex;
  align-items: center;
  margin: 12px 0;
  justify-content: space-between;
}

.builder .product-title {
    color: #8e24aa;
    margin: 0 12px;
}

.builder button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 12px;
  width: 80px;
  background-color: #9c27b0;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all ease .5s;
}

.builder button:hover {
    background-color: #b14fc2;
}
